li span {
  display: inline-block;
  font-size: 15px;
  width: 200px;
}

select {
  font-size: 15px;
  width: 150px;
  height: 30px;
}

#calculator__setting {
  width: 800px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(199, 197, 197);
}

#payValue {
  width: 200px;
  height: 35px;
  margin-left: 10px;
}

#calculator__setting>select {
  width: 100px;
  height: 40px;
}

#calculator__setting>span {
  margin-right: 20px;
}

#calculator__setup {
  width: 800px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(199, 197, 197);
}

#calculator__setup-list {
  list-style-type: none;
  padding: 0;
}

#calculator__setup-list li {
  height: 40px;
}

#calculator__setup-submit input {
  width: 100%;
  height: 40px;
  background: #7096C5;
  text-align: center;
  color: white;
  font-size: 15px;
  border: none;
}

#calculator__result {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.calculator__result-rows {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.calculator__result-total span {
  font-size: 20px;
}