header {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div {
  display: inline-block;
}

#header__logo {
  width: 160px;
}

#header__logo img {
  width: 160px;
  height: 160px;
}

#header__search {
  width: 400px;
  height: 40px;
  border: 2px solid white;
  border-radius: 15px;
  position: relative;
  background-color: white;
}

.hearder__search-input {
  width: 350px;
  height: 38px;
  position: absolute;
  border: none;
  background: transparent;
}

.hearder__search-input:focus {
  outline: none;
}

.hearder__search-btn {
  border: none;
  background: transparent;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.hearder__search-btn i {
  font-size: 25px;
  color: #7096C5;
}

#navbar {
  background: #7096C5;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(199, 197, 197);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#navbar__links {
  width: 900px;
  margin: 0;
}

.link {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 18px 40px;
  font-size: 18px;
}

.link a {
  text-decoration: none;
  color: white;

}

.link:hover a {
  color: black;
}

#navbar__login-icon {
  width: 90px;
  font-size: 18px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
  align-items: center;
}

#navbar__login-icon i {
  font-size: 22px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}