a {
  text-decoration: none;
  color: black;
}

.top__section {
  width: 100%;
  height: 300px;
  display: inline-block;
}

.bottom__section {
  width: 100%;
  height: 400px;
  display: inline-block;
}

.left {
  width: 49%;
  height: 100%;
  float: left;
}

.right {
  width: 49%;
  height: 100%;
  float: right;
}

.notice-category {
  width: 60px;
  text-align: center;
}

.nt {
  color: red;
}

.evt {
  color: blue;
}

.notice-content {
  width: 350px;
}

td {
  padding: 5px 0;
  border-bottom: 1px solid rgb(199, 197, 197);
  font-size: 12px;
}

#talk__container {
  margin: 0;
  padding: 0;
}

#video__wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#video__container {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.6s;
}

.video__btn {
  height: 100%;
  display: flex;
  align-items: center;
  background: white;
  z-index: 1;
  position: absolute;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.video__btn i {
  font-size: 27px;
}

.video p {
  display: inline-block;
}

.video {
  margin: 10px;
}

.post__wrap {
  margin-top: 20px;
}

.post {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  list-style-type: none;
  font-size: 11px;
}

.post a {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.thumb {
  width: 50px;
  height: 30px;
  border: 1px solid rgb(230, 230, 230);
}

.thumb img {
  width: 50px;
  height: 30px;
}

.title {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.info {
  width: 100px;
  height: 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #aaa;
}

.bar {
  width: 1px;
  height: 15px;
  background: #aaa;
  margin: 0 6px;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}