.top_section {
  width: 100%;
  height: 300px;
  display: inline-block;
}

.down_section {
  width: 100%;
  height: 500px;
  display: inline-block;
}

.left {
  width: 49%;
  height: 100%;
  float: left;
}

.right {
  width: 49%;
  height: 100%;
  float: right;
}

#video__wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#video__container {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.6s;
}

.video__btn {
  height: 100%;
  display: flex;
  align-items: center;
  background: white;
  z-index: 1;
  position: absolute;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.video__btn i {
  font-size: 27px;
}

.video p {
  display: inline-block;
}

.video {
  margin: 10px;
}