section {
  width: 80%;
  display: inline-block;
  margin-left: 15%;
  position: relative;
}

.top_section {
  height: 400px;
}

.down_section {
  height: 450px;
}

.container {
  width: 700px;
  height: 300px;
  overflow-y: scroll;
  margin: 0 auto;
}

table {
  margin-left: 50px;
  width: 500px;
  white-space: nowrap;
}

td {
  padding: 7px;
  border-bottom: 1px solid #7096C5;
}

.plus__btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}